.carsTable {
    display: flex;
    justify-content:center;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    min-height: .01%;
    overflow-x: auto;
    text-align:center;
    margin-top: 25px;
    border-style: groove;
    border-radius: 5px;

}
.table{
    align-self:center;
}

@media screen and (max-width: 767px) {
    .carsTable {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .carsTable > .table > thead > tr > th,
    .carsTable > .table > tbody > tr > th,
    .carsTable > .table > tfoot > tr > th,
    .carsTable > .table > thead > tr > td,
    .carsTable > .table > tbody > tr > td,
    .carsTable > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}