background{
    color: red;
}
    .carsTable
    {
        display:  table;
        width:auto;
        background-color:#eee;
        border:1px solid  #666666;
        border-spacing:5px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

    .carsTableHeadRow{

        display:table-row;
        width:auto;
    }
    .carsTableHeadCell{

        display:table-column;
        width:200px;
    }
    .carsTableRow
    {
       display:table-row;
       width:auto;
    }

    .carsTableCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        background-color:#ccc;
    }