{% extends 'website/main.html' %}

{% block content %}
<div class="p-3 text-center">
    <h1 class="mb-1">Car form</h1>
</div>
<div class="form-group mt-2">
    <form action="" method="POST">
        <div class="form-utline mb-4">
            {% csrf_token %}
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                Brand
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                {{ form.brand }}
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                Model
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                {{ form.model }}
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                Overview date
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                {{ form.overview_date }}
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                Oil change date
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                {{ form.oil_change_date }}
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                Driver
            </div>
            <div class="form-outline mb-4 col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                {{ form.driver }}
            </div>
        </div>


        <div class="text-center">
      <input class="btn btn-primary btn-block mb-4" type="submit" name="Submit">
        </div>
    </form>
</div>

{% endblock content %}
