<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/website/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/website/js/functions.js"></script>
    <link rel="stylesheet"  href="/static/website/css/style.css" type="text/css" />
    <link rel="stylesheet"  href="/static/website/css/nav.css" type="text/css" />
    <title>Cars!</title>
</head>
<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
                <!-- logo.png-->
          <nav>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'cars' %}">Cars list</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
<!--    <p>-->
<!--        Cars we have:-->
<!--    </p>-->

<!--    <ul>-->
<!--        {% for car in cars %}-->
<!--        <li>-->
<!--            <a href="/cars/{{car.id}}">-->
<!--                Brand: {{car.brand}} Model: {{car.model}} Overview date: {{car.overview_date}} Driver: {{car.driver.first_name}} {{car.driver.last_name}}-->
<!--            </a>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    <div class="carsTable">
        <table>
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Overview date</th>
                    <th>Overview next date</th>
                    <th>Oil change date</th>
                    <th>Driver</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{car.brand}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.overview_date}}</td>
                        <td>{{car.overview_next_date}}</td>
                        <td>{{car.oil_change_date}}</td>
                        <td>{{car.driver.first_name}} {{car.driver.last_name}}</td>
                        <td><a class="btn car-udpate" href="{% url 'update_car' car.id %}">Update</a></td>
                        <td><button id='delete-car' onclick=call_counter('{% url 'delete_car' car.id %}')>Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="car add">
        <a class="btn car-add" href="{% url 'create_car' %}">Add Car</a>
    </div>
</body>
</html>