<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/static/website/style.css" type="text/css" />
    <title>Cars!</title>
</head>
<body>
    <p>
        Cars we have:
    </p>

    <ul>
        {% for car in cars %}
        <li>
            <a href="/cars/{{car.id}}">
                Brand: {{car.brand}} Model: {{car.model}} Overview date: {{car.overview_date}} Driver: {{car.driver.first_name}} {{car.driver.last_name}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="carsTable">
        <div class="carsTableBody">
            <div class="carsTableRow">
                <div class="carsTableCell" style="background-color:#cce0ff">Brand</div>
                <div class="carsTableCell" style="background-color:#cce0ff" >Model</div>
                <div class="carsTableCell" style="background-color:#cce0ff">Overview date</div>
                <div class="carsTableCell" style="background-color:#cce0ff">Overview next date</div>
                <div class="carsTableCell" style="background-color:#cce0ff">Oil change date</div>
                <div class="carsTableCell" style="background-color:#cce0ff">Drive name</div>
                <div class="carsTableCell" style="background-color:#cce0ff">Driver last name</div>
            </div>
            {% for car in cars %}
            <div class="carsTableRow">
                    <div class="carsTableCell">&nbsp;{{car.brand}}</div>
                    <div class="carsTableCell">&nbsp;{{car.model}}</div>
                    <div class="carsTableCell">&nbsp;{{car.overview_date}}</div>
                    <div class="carsTableCell">&nbsp;{{car.overview_next_date}}</div>
                    <div class="carsTableCell">&nbsp;{{car.oil_change_date}}</div>
                    <div class="carsTableCell">&nbsp;{{car.driver.first_name}}</div>
                    <div class="carsTableCell">&nbsp;{{car.driver.last_name}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>