<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/static/website/nav.css" type="text/css" />
    <title>Car: {{car.brand}} {{car.model}}</title>
</head>
<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
                <!-- logo.png-->
          <nav>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'cars' %}">Cars list</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <h1>This is {{car.brand}} - {{car.model}}</h1>
     <a>
                Driver: {{car.driver.first_name}} {{car.driver.last_name}}
            </a>
    <a href="{% url 'welcome' %}">Home</a>
</body>
</html>